# ðŸ”¬ Data exploration and preparation
In this notebook, you will look at the data and create a subset of that data. The dataset was "relatively" clean upon download, but the lecturers got rid of some pesky delimiter issues. If you want to encounter these issues yourself, you can use the original dataset found at the [Book-Crossing Dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/).

### 1. Loading the data
Load the three datasets and explore the data.

In [83]:
import pandas as pd

In [84]:
#dowloading the files
ratings = pd.read_csv('/Users/ekaterinamazur/PycharmProjects/INFOMPPM1/Week 01/data/BX-Book-Ratings.csv', sep=';')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [43]:
books = pd.read_csv('/Users/ekaterinamazur/PycharmProjects/INFOMPPM1/Week 01/data/BX-Books.csv', sep=';', encoding="latin-1",low_memory=False )
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [15]:
users = pd.read_csv('/Users/ekaterinamazur/PycharmProjects/INFOMPPM1/Week 01/data/BX-Users.csv', sep=';', encoding="latin-1")
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### 2. Cleaning the data
Check if all reviews are connected to a book. Is there a review but no book or user connected to this review? Check if all the authors are spelled correctly, are there outliers (e.g., users with insane number of reviews) etc etc. What were your steps in cleaning the data?

Check data overall: methods describe(), shape, NaN-values.

In [23]:
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [24]:
books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271379,271379,271378,271379,271377,271379,271379,271376
unique,271379,242154,102030,202,16809,271063,271063,271060
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/226401654X.0...,http://images.amazon.com/images/P/226401654X.0...,http://images.amazon.com/images/P/074343045X.0...
freq,1,27,632,13900,7536,2,2,2

In [25]:
ratings.describe()

            User-ID   Book-Rating
count  1.149779e+06  1.149779e+06
mean   1.403864e+05  2.866947e+00
std    8.056230e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [26]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [27]:
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [28]:
users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [29]:
ratings.shape

(1149779, 3)

In [30]:
books.shape

(271379, 8)

In [31]:
users.shape

(278858, 3)

In [46]:
users.nunique()

User-ID     278858
Location     57339
Age            165
dtype: int64

In [47]:
books.nunique()

ISBN                   271379
Book-Title             242154
Book-Author            102030
Year-Of-Publication       118
Publisher               16809
Image-URL-S            271063
Image-URL-M            271063
Image-URL-L            271060
dtype: int64

In [49]:
ratings.nunique()

User-ID        105283
ISBN           340555
Book-Rating        11
dtype: int64

User-ID        105283
ISBN           340555
Book-Rating        11
dtype: int64

In [51]:
ratings['Book-Rating'].value_counts()

0     716109
8     103736
10     78610
7      76456
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: Book-Rating, dtype: int64

In [44]:
# check of there are non existing ID-s in ratings
df_books_users_out = pd.merge(books, ratings, on = 'ISBN', how='outer', indicator=True)
df_books_users_out._merge.value_counts()

both          1031175
right_only     118604
left_only        1209
Name: _merge, dtype: int64

In [74]:
ratings.drop(ratings.loc[df_books_users_out['_merge']=='right_only'].index, inplace=True)
ratings.shape

(1032384, 3)

In [42]:
# check if there is non-existing users in ratings
df_users_ratings_out = pd.merge(users, ratings, how='outer', indicator=True)
df_users_ratings_out._merge.value_counts()

both          1149779
left_only      173575
right_only          0
Name: _merge, dtype: int64

In [53]:
# spelling mistakes in authors
books['Book-Author'].value_counts() # there are Not Applicable (NA)

Agatha Christie        632
William Shakespeare    567
Stephen King           524
Ann M. Martin          423
Carolyn Keene          373
                      ...
Boissard                 1
Norris Houghton          1
Alain Layrac             1
Lorena-A Hickok          1
Christopher  Biffle      1
Name: Book-Author, Length: 102030, dtype: int64

In [ ]:
# outliers - insane numbers of reviews

In [59]:
ratings.groupby('ISBN').agg({'User-ID':'count'}).sort_values(by='User-ID', ascending=False)

            User-ID
ISBN
0971880107     2502
0316666343     1295
0385504209      883
0060928336      732
0312195516      723
...             ...
0671656198        1
0671656279        1
0671656317        1
0671656325        1
ï¿½423350229        1

[340555 rows x 1 columns]

In [62]:
books.query("ISBN=='0971880107'")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

### 3. Subsetting the data
The publication accompanied with this dataset [Improving Recommendation Lists Through Topic Diversification](http://www2.informatik.uni-freiburg.de/~cziegler/BX/WWW-2005-Preprint.pdf) by Cai-Nicolas Ziegler, Sean M. McNee, Joseph A. Konstan, Georg Lausen; describes the process of subsetting (condensation steps) the dataset as follows (p5): 

> Hence, we discarded all books missing taxonomic descriptions, along with all ratings referring to them. Next, we also removed book titles with fewer than 20 overall mentions. Only community members with at least five ratings each were kept. 

Explore what these parameters mean for the overall dataset. Also, consider if you want the implicit ratings (Book-Rating == 0) in the final dataset. What would the implications be? Would you exclude it before the other parameters, or would you exclude them afterwards? 

While the publication describes the resulting dataset's dimensions, your results might differ. But that is ok for now.

In [75]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [85]:
# Next, we also removed book titles with fewer than 20 overall mentions. Only community members with at least 5 ratings each were kept.
x = ratings['ISBN'].value_counts() >=20
idx = x[x].index
ratings = ratings[ratings['ISBN'].isin(idx)]

In [86]:
y = ratings['User-ID'].value_counts() >5
idy = y[y].index
ratings = ratings[ratings['User-ID'].isin(idy)]

In [87]:
ratings.shape

(316360, 3)

### 4. Extra step
Take a closer look at `BX-Books.csv` and search for a book named _Robots and Empire_ by Isaac Asimov. What do you encounter? Is this something you would solve? 

Let us argue that this is problematic for our dataset. How would you solve this? You might want to redo step 2 if you choose to take this extra step.

In [91]:
# code goes here
books.loc[books['Book-Title']=='Robots and Empire']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
19463,0586062009,Robots and Empire,Isaac Asimov,1986,HarperCollins,http://images.amazon.com/images/P/0586062009.0...,http://images.amazon.com/images/P/0586062009.0...,http://images.amazon.com/images/P/0586062009.0...
83090,0345328949,Robots and Empire,Isaac Asimov,1991,Del Rey Books,http://images.amazon.com/images/P/0345328949.0...,http://images.amazon.com/images/P/0345328949.0...,http://images.amazon.com/images/P/0345328949.0...
136152,0385190921,Robots and Empire,Isaac Asimov,1985,Smithmark Pub,http://images.amazon.com/images/P/0385190921.0...,http://images.amazon.com/images/P/0385190921.0...,http://images.amazon.com/images/P/0385190921.0...

In [93]:
books.nunique()

ISBN                   271379
Book-Title             242154
Book-Author            102030
Year-Of-Publication       118
Publisher               16809
Image-URL-S            271063
Image-URL-M            271063
Image-URL-L            271060
dtype: int64

In [94]:
books.shape

(271379, 8)

### 5. Save the new dataset(s)
Save the dataset(s) in distinct named CSV-files for later usage. Move the file(s) to the data directory.

In [ ]:
# code goes here