# ðŸ“š Recommendations based on most reviewed books
You are going to create your first recommendations based most reviewed books. While this is far from personalised, it is still widely applied, and it does offer you to explore the Streamlit app in the app directory.

### 1. Calculate the total reviews per book

In [1]:
import pandas as pd

In [21]:
#reading the files
ratings = pd.read_csv('/Users/ekaterinamazur/PycharmProjects/INFOMPPM1/Week 01/data/ratings.csv')
books = pd.read_csv('/Users/ekaterinamazur/PycharmProjects/INFOMPPM1/Week 01/data/books.csv')
users = pd.read_csv('/Users/ekaterinamazur/PycharmProjects/INFOMPPM1/Week 01/data/users.csv')

   Unnamed: 0  User-ID        ISBN  Book-Rating
0        1474   277427  0061009059            9
1        1543   277427  0345413903           10
2        1564   277427  0380702843            8
3        1601   277427  0399501487            9
4        1611   277427  0425116840            8

In [31]:
#making top-10 by total
top_recommends = ratings.groupby('ISBN').agg({'Book-Rating':'sum'}).reset_index().sort_values(by='Book-Rating', ascending=False)
top_recommends = top_recommends.rename(columns={"Book-Rating":'count'})
top_recommends

            ISBN  count
143   0316666343   1748
111   0312195516   1058
518   0446672211    850
141   0316601950    756
586   0452282152    727
...          ...    ...
1021  1844262553      8
1042  3442541751      7
1046  8408043641      5
1036  3257227809      3
1047  8495618605      3

[1050 rows x 2 columns]

In [35]:
#checking how many reveiws has top-10 by avg

# top_recommends = ratings.groupby('ISBN').agg({'Book-Rating':['sum','count']}).reset_index()
# # top_recommends = top_recommends.rename(columns={"Book-Rating":'count'})
# top_recommends.columns = ['ISBN', 'sum', 'count']
# top_recommends.sort_values(by='sum', ascending=False)

            ISBN   sum  count
143   0316666343  1748    212
111   0312195516  1058    125
518   0446672211   850    104
141   0316601950   756     97
586   0452282152   727     90
...          ...   ...    ...
1021  1844262553     8      1
1042  3442541751     7      1
1046  8408043641     5      1
1036  3257227809     3      1
1047  8495618605     3      1

[1050 rows x 3 columns]

### 2. Save the recommendations
Select the top 10 recommendations based on amount of reviews, save the recommendations as `recommendations-most-reviewed.csv`, and replace the file in the `app/recommendations` directory. The app already has some recommendations which are in dire need of fixing. Make sure the file has the following columns: `ISBN;count`

In [18]:
#saving to csv
top_10_recommends = top_recommends.head(10)
top_10_recommends.to_csv('recommendations-most-reviewed.csv', sep=';', index=False)

### 3. Run the Streamlit app
Perhaps this is the first time you will run a Streamlit app. We provided you with boilerplate code to see your recommendations in a working interface. Over time you might decide to tweak a few buttons or add some metadata, so it is good to familiarise yourself with the [Streamlit documentation](https://docs.streamlit.io/library/api-reference). As a future data scientist creating quick proofs-of-concept is a necessity.

Go to the app and start the app `streamlit run app.py`