
# ðŸ“š Recommendations based on Frequently Reviewed Together (frequency)
An excellent way to give quick recommendations is based on Frequently Bought Together or, in this case, Frequently Reviewed Together. A way to create combinations is with `permutations` from `itertools`. For instance, the code below creates combinations from items occurring in a list.

### 1. Quick introduction to permutations

In [2]:
from itertools import permutations 

# items bought together
items = ['milk', 'bread', 'eggs']

# this code creates sets of 2 items from the itemset above
list(permutations(items, 2))

[('milk', 'bread'),
 ('milk', 'eggs'),
 ('bread', 'milk'),
 ('bread', 'eggs'),
 ('eggs', 'milk'),
 ('eggs', 'bread')]

### 2. Count the combinations of books reviewed together
Create combinations with `permutations` and count the occurrences. Depending on your selection in the exploration step, this can take a while.

In [3]:
import pandas as pd

In [ ]:
# reading the file
ratings = pd.read_csv('/Users/ekaterinamazur/PycharmProjects/INFOMPPM1/Week 01/data/ratings.csv')
ratings.head()

In [36]:
#getting permutations

permutation_two = (ratings
                .groupby('User-ID')
                .apply(lambda x: pd.DataFrame(list(permutations(x['ISBN'], 2))))
                .reset_index())
permutation_two.columns.values[2] = "a"
permutation_two.columns.values[3] = "b"
permutation_two

        User-ID  level_1           a           b
0           507        0  0140230165  0553564528
1           507        1  0140230165  0553575538
2           507        2  0140230165  055357695X
3           507        3  0140230165  0553583441
4           507        4  0140230165  0553583468
...         ...      ...         ...         ...
516305   278843       25  0786881852  0060173289
516306   278843       26  0786881852  0142000205
516307   278843       27  0786881852  0553274503
516308   278843       28  0786881852  0679412956
516309   278843       29  0786881852  0767902890

[516310 rows x 4 columns]

In [45]:
#getting top-10 for each ISBN
df_new = permutation_two.groupby(['a','b']).aggregate('count').reset_index().sort_values('User-ID', ascending = False)
df_new.head()

                 a           b  User-ID  level_1
195957  0446672211  0316666343       32       32
47097   0312966970  0671001795       32       32
279267  0671001795  0312966970       32       32
55593   0316666343  0446672211       32       32
70743   034538475X  0345313860       30       30

In [47]:
# rename a and b to book_a and book_b, choosing the right columns
df_final_10= df_new.iloc [:, [0, 1,2]]
recommend_by_pemutation =  df_final_10.rename(columns={'a': 'book_a', 'b':'book_b', 'User-ID':'count'})
recommend_by_pemutation  = recommend_by_pemutation.groupby('book_a').head(10)
recommend_by_pemutation.shape

(10500, 3)

In [48]:
recommend_by_pemutation.head()

            book_a      book_b  count
195957  0446672211  0316666343     32
47097   0312966970  0671001795     32
279267  0671001795  0312966970     32
55593   0316666343  0446672211     32
70743   034538475X  0345313860     30

### 3. Save the recommendations
You can see that this will be a large file. Since we only need the top 10 of any given book, make sure the CSV file only contains 10 recommendations per book. Save the recommendations as `recommendations-seeded-freq.csv` and replace the file in the app directory. Do not forget to uncomment the block of code connected to this step.

In [44]:
recommend_by_pemutation.to_csv('recommendations-seeded-freq.csv', sep=';', index=False)