# Preparing dataset

We will use the BX-Book-Ratings dataset for this week's notebooks. Since the set is rather large, please subset it and save a copy so that you can use it later. 

Please filter out:

* users that have less than 20 ratings
* books that have less than 20 ratings

In [4]:
import pandas as pd
df_books_ratings = pd.read_csv('./data/BX-Book-Ratings-Subset.csv', sep=';', encoding='latin-1')

In [5]:
df = df_books_ratings

df = df[df['Book-Rating'] != 0]

# subset users (more than 20 reviews)
x = df['User-ID'].value_counts() >= 20

users = x[x].index 

df = df[df['User-ID'].isin(users)]

# subset books (more than 20 reviews)
x = df['ISBN'].value_counts() >= 20

isbns = x[x].index 

df = df[df['ISBN'].isin(isbns)]

In [6]:
df

       User-ID        ISBN  Book-Rating
359       4017  014028009X            9
361       4017  0316096199           10
362       4017  0316666343           10
365       4017  0345443284           10
369       4017  0375707972           10
...        ...         ...          ...
29908   276050  0385335881            9
29914   276050  0553279912            7
29916   276050  0671021001            9
29917   276050  067102423X            8
29918   276050  0679746048            7

[3719 rows x 3 columns]

In [5]:
df.to_csv('data/BX-Book-Ratings-Subset.csv', index=False, sep=';')