# Preparing dataset

We will use the BX-Book-Ratings dataset for this week's notebooks. Since the set is rather large, please subset it and save a copy so that you can use it later. 

Please filter out:

* users that have less than 20 ratings
* books that have less than 20 ratings

In [116]:
import pandas as pd
df = pd.read_csv('./data/BX-Book-Ratings-Subset.csv', sep=';', encoding='latin-1')

In [121]:
# code goes here

df = df[df['Book-Rating'] != 0]

# subset users (more than 20 reviews)
x = df['User-ID'].value_counts() >= 20

users = x[x].index

df = df[df['User-ID'].isin(users)]

# subset books (more than 20 reviews)
x = df['ISBN'].value_counts() >= 20

isbns = x[x].index

df = df[df['ISBN'].isin(isbns)]

In [ ]:
#drop User-ID who have less than 20 review
# df_2 = df.groupby('User-ID').count().sort_values('Book-Rating', ascending=False).reset_index()
# #filter out users that have less than 20 ratings
# df_2 = df_2[df_2['Book-Rating'] >= 20]
# df_2

In [119]:
#drop books that have less than 20 ratings
# df_3 = df.groupby('ISBN').count().sort_values('Book-Rating', ascending=False).reset_index()
# df_3 = df_3[df_3['Book-Rating'] >= 20]
# df_3

           ISBN  User-ID  Book-Rating
0    0316666343      265          265
1    0385504209      207          207
2    059035342X      153          153
3    0312195516      152          152
4    043935806X      136          136
..          ...      ...          ...
827  0786889020       20           20
828  0670032379       20           20
829  0399145087       20           20
830  0140430725       20           20
831  0440224624       20           20

[832 rows x 3 columns]

In [120]:
# final = df[df['User-ID'].isin(df_2['User-ID'])]
# final_df = final[final['ISBN'].isin(df_3['ISBN'])]
# #merge two dataframes on ISBN and User-ID
# final_df

       User-ID        ISBN  Book-Rating
355       4017  006000438X           10
356       4017  0060915544            8
357       4017  0060929871            9
358       4017  0060930187           10
359       4017  0060964049            9
...        ...         ...          ...
30068   276050  0553377868            7
30069   276050  0671021001            9
30070   276050  067102423X            8
30071   276050  0679746048            7
30072   276050  0679781587           10

[11365 rows x 3 columns]

In [122]:
df.to_csv('data/subset.csv', index=False, sep=';')